<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @items.title %>
</p>
<p>
	<%if @items.avatar.attached?%>
	  <%= image_tag @items.avatar, alt: 'avatar' %>
	<%end%>
</p>

<p>
  <strong>Description:</strong>
  <%= @items.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @items.price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
</div>